*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
} 


body{
    background-color:#E2E6EA;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #FE4E30;
}
  
.logo img {
    margin-left: 60px;
    height: 40px;
    margin-right:80px
}
  
.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.menu li {
    margin-right: 50px;
}
  
.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.menu li a:hover {
    color: #0C131F;
}
  
.button {
    margin-left: auto; 
    margin-right: 60px;
}
  
.button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}

.button a:hover {
    background-color:#E2E6EA;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog{
    width:80%;
    padding:30px;  
}

.title-blog{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    
}

.blog-image{
    display: flex;
    justify-content: flex-start;
}


.blog-image img{
    width:80%;
    height:400px;
    object-fit: cover;
}

.blog-desc{
    font-size: 20px;
    margin-left:30px;
}
.duration{
    margin-bottom:30px;
}

.blog-desc h4{
    margin-bottom:15px;
}

.blog-desc p i{
    margin-bottom:10px;
    margin-right:20px;
}

.blog-content{
    padding-top:40px;
    text-align: justify;
    font-size: 20px;
}
